.tags-remark {

    display: inline-block;

    padding: 2px 1ch;
    margin-left: 1ch;

    font-size: 12px;

    background: rgba(255, 252, 225, 0.6);

    border: 1px solid #d68c23;
    border-radius: 3px;
}

html[data-color-scheme="dark"] .tags-remark {

    color: var(--text);
    background: var(--nav-separator);
    border-color: var(--orange);
}

.choices__list--multiple .choices__item .tags-remark {

    padding: 0 .5ch;

    font-size: 10px;
    line-height: 1.3;
    vertical-align: text-bottom;
}
